body {
  height: 100vh;
  margin: 0px;
  overflow-x: hidden;
  font-size: 14pt;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  background: #fbeaff;
}
ul {
  list-style: none;
}

#img-container {
  width: 15%;
}
.image-cropper {
  width: 150px;
  height: 150px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  top: 30px;
}
.profile-pic {
  display: inline;
  margin: 0 auto;
  margin-left: -40%; /*  centers the image */
  height: 100%;
  width: auto;
}

#intro-container {
  padding-right: 30px;
  width: 60%;
}
#contact-container {
  width: 20%;
}
main {
  padding: 40px 20px;
}
.education {
  display: flex;
  justify-content: center;
  width: 100%;
}

.edu-title {
  flex-wrap: wrap;
  width: 45%;
}
#edu-title-section1 {
  position: relative;
  top: -55px;
}
#edu-info-section1 {
  flex-wrap: wrap;
  padding: 5px;
  position: relative;
  right: -42px;
  width: 45%;
}
#edu-title-section2 {
  position: relative;
  top: -25px;
}

#edu-info-section2 {
  flex-wrap: wrap;
  padding: 5px;
  position: relative;
  top: -25px;
  right: -42px;
  width: 45%;
}

.left-title {
  position: relative;
  top: -30px;
}
#volunteerExp {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 5%;
}
#vol-title {
  flex-wrap: wrap;
  width: 45%;
}
#vol-title-section1 {
  position: relative;
  top: -55px;
}
#vol-info {
  flex-wrap: wrap;
  padding: 5px;
  width: 45%;
}

#skill {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: 5%;
  position: relative;
  z-index: 1;
}
#skills-title {
  width: 45%;
}
#skills-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px;
  justify-content: space-between;
  width: 45%;
}
#skills-info-section2 {
  padding-top: 45px;
}
#skills-info2 {
  display: flex;
  flex-direction: column;
  position: relative;
  right: -22%;
  width: 45%;
}
#skills-info-section3 {
  width: 100%;
}
#reference {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  width: 100%;
  position: relative;
  z-index: 1;
}

#ref-title {
  width: 45%;
}

#ref-info {
  width: 45%;
}
#ref-info-section1 {
  margin-bottom: 50px;
  padding-left: 30px;
}
#ref-info-section2 {
  padding-left: 30px;
}
#bubble1 {
  border-radius: 50%;
  background-color: #fbeaff;
  opacity: 50%;
  width: 30%;
  height: 60%;
  position: absolute;
  bottom: -25%;
  left: -10%;
}
#bubble2 {
  border-radius: 50%;
  background-color: #fbeaff;
  opacity: 50%;
  width: 60%;
  height: 120%;
  position: absolute;
  right: -55px;
}

@media only screen and (max-width: 992px) {
  #img-container {
    width: 45%;
  }
  #intro-container {
    width: 45%;
  }
  #contact-container {
    position: relative;
    right: -24%;
    width: 50%;
  }
  #bubble1 {
    width: 30%;
    height: 20%;
    position: absolute;
    bottom: 25%;
    left: -10%;
  }
  #bubble2 {
    flex-wrap: wrap;
    width: 70%;
    height: 50%;
    position: absolute;
    bottom: -70%;
    right: -20%;
  }
  .education {
    position: relative;
    left: 10%;
    width: 80%;
  }
  
  #volunteerExp {
    position: relative;
    left: 10%;
    width: 80%;
  }
  #skill {
    position: relative;
    left: 10%;
    width: 80%;
  }
  #reference {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  #img-container {
    width: 100%;
  }
  #intro-container {
    width: 100%;
  }
  #contact-container {
    position: relative;
    right: 0%;
    width: 100%;
  }
  #bubble1 {
    width: 60%;
    height: 25%;
    position: absolute;
    top: 85%;
    left: -15%;
  }
  #bubble2 {
    width: 80%;
    height: 40%;
    position: absolute;
    bottom: -220%;
    right: -20%;
  }
  .education {
    position: relative;
    left: 10%;
    width: 85%;
  }

  #volunteerExp {
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    left: 10%;
    width: 90%;
  }
  #vol-title {
    width: 80%;
  }
  #vol-info {
    width: 80%;
  }
  #skill {
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    left: 10%;
    width: 100%;
  }
  #skills-title {
    width: 80%;
  }
  #skills-info {
    width: 80%;
  }
  #skills-info2 {
    position: relative;
    left: 0%;
    width: 80%;
  }
  #ref-title {
    width: 80%;
  }
  #ref-info {
    width: 80%;
  }
  #reference {
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    left: 0%;
    width: 100%;
  }
}
