body {
  height: 100vh;
  margin: 0px;
}
.header-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction:row;
  justify-content: center;
  border: 2px solid blue;
}
.header-container ul {
  list-style: none;
}

#img-conatiner {
  width: 18%;
  border: 1px solid black;
  
}
img {
 width: 190px;
}
#intro-container {
  width: 65%;
  border: 1px solid black;
}
#contact-container {
  width: 18%;
  border: 1px solid black;
}

